body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #FFFFFF;
}

h3 {
	margin-top: 0px;
}

.header-logo {
	height: 40px;
	padding-left: 53px;
}

.header-title {
	padding-top: 18px;
	font-weight: bold;
	font-size: 15px;
	color: #696969;
}

.form-signin {
	padding: 15px;
	margin: 0 auto;
	text-align: center;
}

.login-container {
	max-width: 378px;
}

.login-container .header-bar {
	width: inherit;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-align: left;
	background: transparent url('../images/svg/gnomex_icon1.svg') left no-repeat;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-reset input[type="text"],
.form-reset input[type="email"]{
	margin-bottom: 4px;
	border-radius: 4px;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-signin .btn-primary {
 	background-color: #79bd9a;
	border-color: #79bd9a;
}

.form-signin .btn-primary:hover {
	background-color: #09476b;
	border-color: #09476b;
}

.form-signin-button-block {
	width: inherit;
}

.info-block {
	text-align: left;
	font-style: italic;
	font-size: smaller;
}

.form-signin-button-block .info-block {
	width: 70%;
	float: left;
}

.form-signin-button-block .button-block {
	width: 30%;
	float: right;
}

.form-signin-secondary-button-block {
	border-top: 1px solid #cccccc;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 7px;
}

@media(max-width: 360px ) {
	.form-signin-button-block .info-block {
		width: 100%;
		text-align: left;
		font-style: italic;
		font-size: smaller;
		float: none;
		margin-bottom: 5px;
	}

	.form-signin-button-block .button-block {
		width: 100%;
		float: none;
	}
	.form-signin-secondary-button-block {
		flex-direction: column;
	}
	.form-signin-secondary-button-block a {
		margin-bottom: 5px;
	}
}
.green {
	color: #3c763d;
}

.opening-tag {
	margin-top: 10px;
}

#error {
	margin: 22px;
	text-align: center;
	max-width: inherit;
}

.campus-info {
	margin-top: 15px;
	font-size: small;
	margin: 2px 13px 2px 15px;
}
/****************************************/

html {
	font-size:14px;font-weight:normal;font-family:Helvetica,"Helvetica Neue","Microsoft Sans Serif",Arial;color:#9E8D8D;
}


h1 {
	font-weight: normal;
	font-size: 24pt;
	margin-top: 10px;
}

table.facilities {
	font-weight: normal;
	font-size: 11pt;
	color: #696969;
}

.lookup{
	padding-top: 4px;
	color: #0000EE;
}

h3 {
	font-weight: bold;
	font-size: 12pt;
	color: #696969;
	padding-bottom: 5px;
	margin-bottom: 5px;
	padding-top: 0px;
	margin-top: 0px;}

/*a {*/
	/*color: #696969;*/
	/*padding: 4px;*/
	/*padding-top: 5px;*/
	/*font-size: 11pt;*/
	/*text-decoration: underline;*/
/*}*/
/*a:active {*/
	/*color: #15c;*/
/*}*/
/*a:hover {*/
	/*text-decoration: underline;*/
/*}*/

/*a.login {*/
	/*color: blue;*/
	/*float: left;*/
	/*padding-left: 0px;*/
	/*padding-top: 15px;*/
	/*padding-bottom: 2px;*/
    /*font-size: 12pt;*/
/*}*/
  /**/
/*a.button {*/
	/*font-size: 11pt;*/
	/*cursor: hand; */
	/*cursor: pointer;*/
	/*color: blue;*/
/*}*/

/*a.buttonLarge {*/
	/*font-size: 12pt;*/
	/*cursor: hand; */
	/*cursor: pointer;*/
	/*color: blue;*/
/*}*/

/*a.other {*/
	/*color: blue;*/
	/*padding-left: 1px;*/
	/*padding-right: 1px;*/
	/*padding-bottom: 0px;*/
	/*padding-top: 0px;*/
	/*font-size: 10pt;*/
	/**/
/*}*/

.header-bar {
	float: top;
	width: 800px;
	height: 50px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}


.box {
	background-color: #ececd9;
	overflow: auto;
	padding: 10px;
	width: 400px;
	float: center;
	color: #696969;
	border: 1px solid #8B8970;
}

.boxClear {
	overflow: auto;
	padding: 10px;
	width: 350px;
	float: center;
}

.boxMedium {
	background-color: #ececd9;
	border: 1px solid #8B8970;
	overflow: auto;
	padding: 10px;
	width: 410px;
	float: center;
	color: #696969;
}


.boxWide {
	background-color: #ececd9;  
	border: 1px solid #8B8970;
	overflow: hidden;
	padding: 10px;
	width: 500px;
	float: center;
	color: #696969;
}

.boxSuperWide {
	background-color: #ececd9;  
	border: 1px solid #8B8970;
	overflow: hidden;
	padding: 10px;
	width: 700px;
	float: center;
	color: #696969;
}

.empty {
	clear:both;
	float:left;
	width: 100px;
	padding-top: 5px;
	margin-top: 5px;
	padding-right: 2px;
	margin-right: 2px;
}

.emptySmall {
	clear:both;
	float:left;
	width: 100px;
	padding-top: 2px;
	margin-top: 2px;
	padding-right: 2px;
	margin-right: 2px;
}

.col1 {
	clear:both;
	float:left;
	width: 110px;
	padding-top: 2px;
	margin-top: 2px;
	padding-right: 2px;
	margin-right: 2px;
}

.col1Wide {
	clear:both;
	float:left;
	width: 220px;
	padding-top: 2px;
	margin-top: 2px;
	padding-right: 2px;
	margin-right: 2px;
}

.col2 {
	float:left;
	padding-top: 2px;
	margin-top: 2px;
	padding-right: 10px;
	margin-right: 10px;
}
.boxCenter {
	overflow: auto;
	padding: 10px;
	padding-top: 5px;
	margin-top: 5px;
	padding-bottom: 1px;
	margin-bottom: 1px;
	width: 340px;
	float: center;
}

note {
	padding: 2px;
	padding-bottom: 4px;
	font-size: 10pt;
	font-style: italic;
}

note.inline {
	float: right;
	padding-right: 2px;
	margin-right: 2px;
	padding-top: 2px;
	margin-top: 2px;
	color: #696969;

}

note.centered {
	clear:both;
	float:center;
	padding-right: 14px;
	margin-right: 14px;
	padding-left: 12px;
	margin-left: 12px;
	padding-bottom: 0px;
	padding-top: 2px;
	margin-top: 2px;
}

.topPanel {
	float: top;
	clear: both;
	font-size: 10pt;
	padding-bottom: 10px;
	margin-bottom: 5px;
	color: #ff0000;
}

.bottomPanel {
	float: bottom;
	clear: both;
	padding-top: 10px;
	margin-top: 5px;
}


.buttonPanel {
	float: right;
	padding-top: 7px;
	margin-top: 7px;
	padding-right: 20px;
}

.buttonPanelShort {
	float: right;
	padding-top: 2px;
	margin-top: 2px;
	padding-bottom: 4px;
	margin-bottom: 4px;
	padding-right: 20px;
	font-size: 11pt;
}

input.submit {
	font-size: 11pt;
	font-weight: bold;
	color: #2B3856;
	width: 70px;
	height: 34px;
	vertical-align: middle;
}  

input.text {
	height: 23px;
	float: left;
	font-size: 10pt;
	color: #696969;
	width: 205;  
}


input.text.textWide {
	float: left;
	width: 280px;
	height: 23px;
	font-size: 10pt;
	color: #696969;
}

.textWide {
	float: left;
	width: 280px;
	height: 23px;
	font-size: 10pt;
}

.errorWide {
	float: left;
	width: 400px;
	height: 46px;
	font-size: 10pt;
}


div.left {
	float: left;
}

div.leftInfo {
	float: left;
	clear: both;
	padding-top: 5px;
	margin-top: 5px;
}

div.leftButton {
	clear:both;
	float: left;
	padding-top: 7px;
	margin-top: 7px;
	border: none;
	width: 150;
}

div.right {
	float: right;
	padding-right: 2px;
	margin-right: 5px;
	padding-top: 2px;
	margin-top: 2px;
}

div.leftMenu {
	clear:both;
	float: left;
	padding-top: 5px;
	margin-top: 5px;
	border: none;
	width: 150;
}

div.rightMenu {
	float: right;
	padding-right: 5px;
	margin-right: 5px;
	padding-top: 7px;
	margin-top: 7px;
}

.containerMessage{
	width: 400px;
	height: 100px;
	float: center;
	clear: left;
	background-color: #ececd9;
	padding-top: 16px;
	margin-top: 16px;
	padding-bottom: 0px;
	color: #696969;
	border: 1px solid #8B8970;
}

.message {
	color: SeaGreen;
	margin-top: 15px;
	padding-top: 15px;
	float: center;
}